.exam-page:not(.second-page) .exercise-list {
  overflow: visible !important;
  padding-top: 0 !important;
}

.exam-page:not(.second-page) .exam-exercise:first-child {
  border-top: inherit !important;
  margin-top: 0 !important;
  position: relative !important;
  overflow: visible !important;
  box-shadow: none !important;
}

.exam-page:not(.second-page) .exam-exercise:first-child::before {
  display: none !important;
  content: none !important;
}
